body {
    background-color: #505050;
}

/* Joinha Label */
#JoinhaLabel {
    font-size:30px;
    position: absolute;
    top: 235px;
    left: 125px;
}

/* Joinha Button */
#JoinhaButton {
    position: absolute;
    top: 300px;
    left: 145px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-image: url('assets/joinha.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #404040;
    cursor: pointer;
}

/* UpgradesMenu Button */
#UpgradesMenuButton {
    position: fixed;   /* fixa na tela */
    bottom: 15px;      /* 15px da borda inferior */
    right: 15px;       /* 15px da borda direita */
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;    /* garante que width/height funcionem */

    background-image: url('assets/arrow.png'); /* ajuste o caminho */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4caf50; /* fallback se imagem não carregar */
}
/* ===== Menu de Upgrades ===== */
#UpgradesMenu {
    display: none; /* começa escondido */
    position: fixed; /* fixa na tela, não empurra outros elementos */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* cinza escuro */
    color: #fff;
    padding: 40px 30px; /* mais espaço interno */
    border-radius: 10px;
    height: 660px;
    width: 310px; /* largura fixa maior */
    max-width: 90%; /* responsivo em telas pequenas */
    text-align: center;
    z-index: 1000;
}

/* ===== Botão de fechar do menu ===== */
#CloseUpgradesButton {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 10px;
    left: 10px;
}

/* First upgrade button */
#Upgrade_1_Button {
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 125px;
        left: 10px;
}

/* Label of the first upgrade */
#Upgrade_1_Label {
        font-size: 15px;
        position: absolute;
        top: 125px;
        left: 90px;
}

/* Button of the second upgrade */
#Upgrade_2_Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 200px;
        left: 10px;
}

/* Label of the second upgrade */
#Upgrade_2_Label {
        font-size: 15px;
        position: absolute;
        top: 200px;
        left: 90px;
}
/* Joinhas Per Second Label */
#joinhas_per_second_label {
	font-size: 15px;
	position: absolute;
	top: 400px;
	left: 125px;
}

/* Upgrade 3 Button*/
#Upgrade_3_Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 275px;
        left: 10px;
}
/* Label*/
#Upgrade_3_Label {
	font-size: 12px;
        position: absolute;
        top: 275px;
        left: 90px;
}

/* Upgrade 4 Button*/
#Upgrade_4_Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 350px;
        left: 10px;
}
/* Label*/
#Upgrade_4_Label {
	font-size: 15px;
    position: absolute;
    top: 350px;
    left: 90px;
}

/* Upgrade 5 Button */
#Upgrade_5_Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 425px;
        left: 10px;
}
/* Label */
#Upgrade_5_Label {
	font-size: 15px;
    position: absolute;
    top: 425px;
    left: 90px;
}

/* Prestige Menu Button */
#PrestigeMenuButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/golden_joinha.png');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    border: none;
    border-radius: 5px;

    position: absolute;
    bottom: 15px;
    left: 15px;
}
/* Prestige Menu */
#PrestigeMenu {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 1000;
}
/* Closing The Prestige Menu */
#ClosePrestigeMenu {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 100px;
    left: 10px;
}
/* Prestige Menu H2 */
#PrestigeMenuH2 {
	color: white;
}

/* Prestige Button */
#PrestigeButton {
	cursor: pointer;
    width: 120px;
    height: 120px;
    background-image: url('assets/golden_joinha.png');
    background-size: cover;
    background-position: center;
    background-color: #ADD8E6;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 350px;
    left: 150px;
}
/* Golden Joinha Label */
#GoldenJoinhaLabel {
	font-size: 15px;
    position: absolute;
    top: 465px;
    left: 140px;
    color: white;
}

/* Golden Upgrade 1 Button */
#GoldenUpgrade1Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 520px;
    left: 10px;
}
/* Golden Upgrade 1 Label */
#GoldenUpgrade1Label {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 520px;
    left: 80px;
}

/* Golden Upgrade 2 Button */
#GoldenUpgrade2Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 590px;
    left: 10px;
}
/* Golden Upgrade 2 Label */
#GoldenUpgrade2Label {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 590px;
    left: 80px;
}
/* Great Reset Button */
#GreatResetButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 660px;
    left: 10px;
}
/* Great Reset Label */
#GreatResetLabel {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 660px;
    left: 80px;
}
/* Next Page Prestige */
#NextPagePrestige1Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(90deg);

    position: absolute;
    top: 100px;
    right: 70px;
}
/* Next Page Prestige Menu 1 */
#NextPagePrestigeMenu1 {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 2000;
}
/* Page 2 H2 */
#PrestigeMenuH2Page2 {
	color: white;
}
/* Previous Page 1 Button */
#PrestigePreviousPage1Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 100px;
    left: 10px;
}
/* Golden Upgrade 3 */
#GoldenUpgrade3Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 200px;
    left: 10px;
}
/* Golden Upgrade 3 Label */
#GoldenUpgrade3Label {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 200px;
    left: 80px;
}
/* Unlock Space Upgrade */
#UnlockSpaceButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 270px;
    left: 10px;
}
/* Unlock Space Label */
#UnlockSpaceLabel {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 270px;
    left: 80px;
}

/* Settings Menu Button */
#SettingsMenuButton {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/setting.png');
        background-color: #057bfe;
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 15px;
        right: 15px;
}
/* Settings Menu */
#SettingsMenu {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00003C;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 1000;
}
/* Closing The Settings Menu */
#CloseSettingsMenu {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 100px;
    left: 10px;
}
/* Hard Reset Button */
#HardResetButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/x.png');
    background-color: yellow;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 190px;
    left: 10px;
}
/* Hard Reset Label */
#HardResetLabel {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 195px;
    left: 80px;
}
/* Music Toggle */
#musicToggle {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/music.png');
    background-color: yellow;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 260px;
    left: 10px;
}
/* Music Label */
#MusicLabel {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 265px;
    left: 80px;
}

/* Magnets Upgrades Button */
#MagnetsUpgradesButton {
	position: fixed;
    bottom: 15px;
    right: 80px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;

    background-image: url('assets/magnet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFA500;
}
/* Magnets Upgrades Menu */
#MagnetsUpgradesMenu {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFA500;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 1000;
}
/* Magnets Label */
#MagnetsLabel {
	font-size: 25px;
    position: absolute;
    color: white;
    top: 95px;
    left: 140px;
}
/* Close Magnets Menu */
#CloseMagnetsMenu {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 10px;
    left: 10px;
}
/* Magnet Upgrade 1 Button */
#MagnetUpgrade1Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 210px;
        left: 10px;
}
/* Magnet Upgrade 1 Label */
#MagnetUpgrade1Label {
	font-size: 20px;
    position: absolute;
    color: white;
    top: 200px;
    left: 75px;
}
/* Magnet Upgrade 2 Button */
#MagnetUpgrade2Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 280px;
        left: 10px;
}
/* Magnet Upgrade 2 Label */
#MagnetUpgrade2Label {
	font-size: 20px;
    position: absolute;
    color: white;
    top: 270px;
    left: 75px;
}
/* Magnet Upgrade 3 Button */
#MagnetUpgrade3Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 350px;
        left: 10px;
}
/* Magnet Upgrade 3 Label */
#MagnetUpgrade3Label {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 340px;
    left: 75px;
}
/* Magnet Upgrade 4 Button */
#MagnetUpgrade4Button {
	cursor: pointer;
        width: 60px;
        height: 60px;
        background-image: url('assets/arrow.png');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 5px;

        position: absolute;
        top: 420px;
        left: 10px;
}
/* Magnet Upgrade 4 Label */
#MagnetUpgrade4Label {
	font-size: 20px;
    position: absolute;
    color: white;
    top: 410px;
    left: 75px;
}
#MagnetUpgrade5Button {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 490px;
    left: 10px;
}
#MagnetUpgrade5Label {
	font-size: 20px;
    position: absolute;
    color: white;
    top: 480px;
    left: 75px;
}

/* Space Button */
#SpaceButton {
	position: fixed;
    bottom: 15px;
    left: 85px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;

    background-image: url('assets/space_button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #303030;
}
/* Space Menu */
#SpaceMenu {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
/* Space Back Button */
#SpaceBackButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 10px;
    left: 10px;
}
/* Earth */
#EarthButton {
    cursor: pointer;
    width: 128px;
    height: 128px;

    background-image: url('assets/earth.png');
    background-size: cover;
    background-position: center;
    border: none;
    background-color: transparent;

    position: absolute;
    top: 325px;
    left: 125px;

    /* máscara com a própria imagem */
    -webkit-mask-image: url('assets/earth.png'); /* Chrome/Safari */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: url('assets/earth.png'); /* Firefox */
    mask-repeat: no-repeat;
    mask-size: cover;
}
/* Label */
#EarthLabel {
	font-size: 13px;
    position: absolute;
    color: white;
    top: 440px;
    left: 100px;
}

/* Iron Bar Menu Button */
#IronBarMenuButton {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/ironbar.png');
    background-size: cover;
    background-position: center;
    background-color: #00D7FF;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 75px;
    right: 70px;
}
/* Menu */
#IronBarMenu {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B7B2FF;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
/* Closing */
#CloseIronBarMenu {
	cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 10px;
    left: 10px;
}
/* Iron Bar Label */
#IronBarLabel {
	font-size: 25px;
    position: absolute;
    color: white;
    top: 70px;
    left: 110px;
}
/* IBTL */
#IronBarTimeLabel {
	font-size: 15px;
    position: absolute;
    color: white;
    top: 10px;
    left: 75px;
}
/* IBS */
.iron-bar {
  position: fixed;
  width: 96px;
  height: 96px;
  cursor: pointer;
  user-select: none;
  z-index: 10000;
}
/* IronBar Upgrades */
#IronBarUpgrade1Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 175px;
    left: 10px;
}
#IronBarUpgrade1Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 165px;
    left: 75px;
}

#IronBarUpgrade2Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 255px;
    left: 10px;
}
#IronBarUpgrade2Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 245px;
    left: 75px;
}

#IronBarUpgrade3Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 335px;
    left: 10px;
}
#IronBarUpgrade3Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 325px;
    left: 75px;
}

#IronBarUpgrade4Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 415px;
    left: 10px;
}
#IronBarUpgrade4Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 405px;
    left: 75px;
}

/* Brick Menu */
#BrickMenuButton {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/brick.png');
    background-size: cover;
    background-position: center;
    background-color: #00D7FF;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 145px;
    right: 70px;
}
#BrickMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #BF7163;
    padding: 40px 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
#BrickLabel {
    font-size: 25px;
    position: absolute;
    color: white;
    top: 70px;
    left: 110px;
}
#BricksPerSecondLabel {
    font-size: 10px;
    position: absolute;
    color: white;
    top: 10px;
    left: 110px;
}
#BrickUpgrade1Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 175px;
    left: 10px;
}
#BrickUpgrade1Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 165px;
    left: 75px;
}
#BrickUpgrade2Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 245px;
    left: 10px;
}
#BrickUpgrade2Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 235px;
    left: 75px;
}
#BrickUpgrade3Button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;

    position: absolute;
    top: 315px;
    left: 10px;
}
#BrickUpgrade3Label {
    font-size: 15px;
    position: absolute;
    color: white;
    top: 305px;
    left: 75px;
}
#CloseBrickMenu {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-image: url('assets/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    transform: rotate(-90deg);

    position: absolute;
    top: 10px;
    left: 10px;
}
